body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

.first {
    font: sans-serif;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 6px 64px 64px;
    height: 350px;
    flex: 1;
    min-height:0;
}

.first .header {
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
    align-items: center;
}

.first .header ul {
    display: flex;
    list-style-type: none;
    gap: 48px;
}

a {
    color:#F9FAF8;
    text-decoration: none;
}

.first .main-container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first .main-container .container-header {
    font-size: 48px;
    font-weight: 900;
}

.first .main-container .main-right {
    width: 600px;
    height: auto;
}

.first img {
    max-width:90%;
}

.first button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: transparent;
    border-radius: 5px;
    padding: 6px 24px;
    font-size: 18px;
    font-weight: 800;
}

.first .main-container .main-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex: auto;
    margin-bottom: 32px;
}

.second .main-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.second .information-container {
    display: flex;
    gap: 32px;
    border-color: #3882F6;
    flex-wrap: wrap;
    padding: 16px;
    
}

.second .information-container .lesser-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 200px;
}

.second img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.third {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 24px;
    font-style: italic;
    padding: 18px 100px 18px;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third .blockquote {
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.third .blockquote .writer {
    align-self: flex-end;
}

.fourth {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 32px;
}

.fourth button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 24px;
    border-color: #F9FAF8;
    border-radius: 3px;
    font-weight: 700;
}

.fourth .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    display: flex;
    gap: 32px;
    min-width: 100px;
    padding: 32px 64px;
    border-radius: 5px;
}

.fourth .main-text .container-header {
    font-size: 24px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 48px;
    color: #F9FAF8;
    background-color: #272626;
}
